:root{
    --font:blue;
    --background:pink;
}
nav ul li {
    list-style: none;

    background-color: var(--background);
    color: var(--font);
    padding: 30px;
    width: 80vw;

}
nav ul{
    display:  flex;
     background-color: var(--background);
    color: var(--font);
}
footer ul {
    list-style: none;
   
    display: flex;
     background-color: var(--background);
    color: var(--font);
}
footer ul li{
    padding: 30px;
    width: 80vw;
    display: inline;
     background-color: var(--background);
    color: var(--font);
}