nav ul li {
    list-style: none;
    background-color: yellow;
    padding: 30px;
    width: 80vw;

}
nav ul{
    display:  flex;
}
footer ul {
    list-style: none;
    background-color: gray;
    display: flex;
}
footer ul li{
    padding: 30px;
    width: 80vw;
    display: inline;
}