P{
    background-color: blue;
    color: white;
}
div :first-child{
    background-color: yellow;
    color: red;
    
}
.red{
    background-color: red;
    
}
.blue{
    color: pink;
}
.blue{
    color: blue;
}
.red{
    background-color: green;
    width: 50vw;
    height: 20vh;
    margin: auto;
}