*{
    padding: 0;
    margin: 0;
}
nav ul li{
    list-style: none;
    padding-right: 90px;
    margin: 5px;
}
nav{
    position: sticky;
    top: 0;
    z-index: 100;
}
nav ul {
    background-color: pink;
    display: flex;
    padding: 10px;
}
footer ul li{
    list-style: none;
    padding-right: 90px;
    margin: 5px;
}
footer ul {
    background-color: pink;
    display: flex;
    padding: 10px;
    margin-top: 20px;    
}
.boxes{
    background-color: green;
    width: 80vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
}
img{
    width: 40px;
    position: fixed ;
    border-radius: 1000px;
    right: 10px;
    bottom: 5px;
}
.box{
    border: 2px solid black;
    width: 40vw;
    height: 80vh;
    margin: 5px;
}
.bar{
    border: 2px solid black;
    width: 80vw;
    height: 50px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* padding: 5px; */
    border-radius: 20px;
}
.parent{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px;
}
