.container {
    border: 2px solid black;
    display: grid;
    grid-template-areas: "nav nav nav"
        "Side Article Article"
        "footer footer footer";
    /* grid-template-rows: 300px 300px; */
    /* grid-gap: 2px; */
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.item {
    border: 2px solid green;
    background-color: aqua;
}


.item3 {
    grid-area: footer;

    transform: rotateX(10deg) skew(10deg) translate(10deg); 
    /* grid-column: ; */
}

.item1 {
    grid-area: nav;
    /* grid-column: ; */
}